.App {
  text-align: center;
}

a {
  text-decoration: none !important;
}

.img-size {
  width: 450px;
  height: 450px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}
.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
